.navBar-image {
    position: static;
    padding: 1px;
    width: 100px;
}


.NavigationBar {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    background-color: white;
}


.navbar {
    padding: 0.25rem 2rem 0.25rem 2rem;
}

.navBar_logo {
    position: static;
    padding: 1px;
    width: 100px;
    color: #116466;

}

.navBar_logo:hover {
    position: static;
    padding: 1px;
    width: 100px;
    color: #116466;
    text-decoration: none;
    /* Remove underline */
}

.navitem {
    padding: 0 2px 1px 2px;
}

.navbar-link {
    padding-bottom: 4.5rem;
    font-weight: bold;
    font-family: 'Montserrat';
    color: pink;
}

.nav-link {
    font-family: 'Ubuntu';
    color: pink;
    font-size: 50%;
}

.bar {
    position: relative;
}

.bar::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    /* Thin bar above "shades" */
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
}

.bar:hover {
    background-color: #ccc;
    /* Grey background on hover */
}

td {
    border: none;
}


.container {
    display: flex;
    height: 80vh;
}

.container-fluid {
    padding: 3% 15%;
}

.action-container {
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.image-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.action-section {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container {
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #93bcde;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.center {
    text-align: center;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

th {
    background-color: lightgray;
    font-weight: bold;
}


/* Remove borders from a specific table with ID */
#blindColorTable {
    border-collapse: collapse;
}

/* Remove borders from the table rows of the specific table */
#blindColorTable tr {
    border: none;
}

/* Remove borders from the table cells of the specific table */
#blindColorTable td,
#blindColorTable th {
    border: none;
}

.black {
    background-color: #2C3531;
}

.blue {
    background-color: #D1E8E2;
}

body {
    background-color: #2C3531;
}

table,
th,
td {
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #2C3531;
}

h1 {
    /* color: #FFCB9A; */
    text-align: center;
    padding: 10px;
}

.right-align {
    text-align: right;
}

#Proposition {
    background-color: white;
    padding: 30px;
}

#prop-heading{
    color: #116466;
    font-weight: bold;
}

.proposition-text{
    color: #116466;
}

p{
    font-size: 20px;
    padding: 20px;
}

button {
    background-color: #FFCB9A;
    border: none;
    color: #2C3531;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.login{
    margin-right: 100px;
}

img {
    width: 500px;
    height: auto;
  }

p.buy{
    color: #FFCB9A;
}

h1.moto{
    font-family:"Fira Code";
    font-size: 3rem;
}

h2{
    font-family:"Fira Code";
}
h1.buy{
    color:white;
}