.navBar-image {
    position: static;
    padding: 1px;
    width: 100px;
}


.NavigationBar {
    font-family: 'Ubuntu';
    font-size: 2rem;
    font-weight: bold;
    text-align: right;
    background-color: white;
}


.navbar {
    padding: 0.25rem 2rem 0.25rem 2rem;
}

.navBar_logo {
    position: static;
    padding: 1px;
    width: 100px;
    color: #116466;

}

.navBar_logo:hover {
    position: static;
    padding: 1px;
    width: 100px;
    color: #116466;
    text-decoration: none;
    /* Remove underline */
}

.navitem {
    padding: 0 2px 1px 2px;
}

.navbar-link {
    padding-bottom: 4.5rem;
    font-weight: bold;
    font-family: 'Montserrat';
    color: pink;
}

.nav-link {
    font-family: 'Ubuntu';
    color: pink;
    font-size: 50%;
}

.bar {
    position: relative;
}

.bar::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #000;
    /* Thin bar above "shades" */
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
}

.bar:hover {
    background-color: #ccc;
    /* Grey background on hover */
}

#scheduling {
    padding: 20px; /* Adjust the value as needed */
}

td {
    border: none;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

/* Add this class to the button the user toggled for cell edits*/
.selected-button {
    background-color: orange !important;
    color: red !important;
}

.transparent-button {
    background-color: #bebebe;
    color: #2C3531;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.dim-button {
    background-color: #bebebe;
    color: #2C3531;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.blackout-button {
    background-color: #bebebe;
    color: #2C3531;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.confirm-button {
    position:relative;
    background-color: #bebebe;
    color: #2C3531;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    left: 40%;
    top: 50%;
    left: 50%;
}

.confirm-button:hover{
    background-color:white;
}

/* Hover effect for the specific button */
.transparent-button:hover {
    background-color: #D1E8E2;
}


/* Hover effect for the dim button */
.dim-button:hover {
    background-color: gray;
    color: white;
}

/* Hover effect for the black button */
.blackout-button:hover {
    background-color: #2C3531;
    color: white;

}

.form_col {
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    display: block;
    padding: 2rem;
    background-color: #333;
}

.form_col input {
    padding: 0.5rem;
    font-size: 1.5rem;
}

.form_col input[type=submit] {
    padding: 2rem;
    background-color: #449ee3;
    color: #ffffff;
    cursor: pointer;
}

.form_col .save_button {
    padding: 0.5rem;
    background-color: #449ee3;
    border: 3px solid #555;
    color: #ffffff;
    cursor: pointer;
}

.form_col .cancel_button {
    padding: 0.5rem;
    background-color: #555;
    border: 1px solid #ddd;
    cursor: pointer;
}

form {
    display: inline;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #93bcde;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 15px;
}

.center {
    text-align: center;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}

th {
    background-color: lightgray;
    font-weight: bold;
}


/* Remove borders from a specific table with ID */
#blindColorTable {
    border-collapse: collapse;
    margin-bottom: 20px;
}

#schedulingTable{
    margin-bottom: 20px;
}

/* Remove borders from the table rows of the specific table */
#blindColorTable tr {
    border: none;
}

/* Remove borders from the table cells of the specific table */
#blindColorTable td,
#blindColorTable th {
    border: none;
}

.black {
    background-color: #2C3531;
}

.blue {
    background-color: #D1E8E2;
}

.dim {
    background-color: #D9B08C;
}

body {
    background-color: #2C3531;
}

table,
th,
td {
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #2C3531;
}

h1 {
    color: #FFCB9A;
    text-align: center;
    padding: 10px;
}
